/*==============================================================================*/
#bottomText
{
  margin-bottom: 200px;
}

/*==============================================================================*/


#cookie
{

  margin-top:100px;

}


/*==============================================================================*/
.text
{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

/*==============================================================================*/

#c1
{
  font-size: 30px;
  background-color: #6CB1ED;
  border: #512727 medium solid;
  border-radius: 10px;

}

/*==============================================================================*/

#c2
{
  font-size: 20px;
  background-color: #B7BFC6;
  border: #512727 medium solid;
  border-radius: 10px;

}

/*==============================================================================*/

#c3
{
  font-size: 20px;
  background-color: #A2D0F8;
  border: #512727 medium solid;
  border-radius: 10px;

}

/*==============================================================================*/

#cookieVariable
{
margin-bottom: 100px;
margin-top: 100px;
}

/*==============================================================================*/
