{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}



  <img id="cookie" src="/static/cookie.jpg" alt="">
  <p>Cookies:<p id = count></p></p>
  <p id = count></p>
  <!--<img id="save" src="/static/save.png" alt="" width = "160" height = "90" align = "center">-->



<!-- =============================================================================================================================================================================-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" charset="utf-8"></script>
  <script src="/static/game.js"></script>



{% endblock %}
