{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}

<!-- ===================================================================================================-->

<div  class="container-fluid">
  <div class="row">

<!-- ===================================================================================================-->

    <div class="col-sm" id = "c1">

      <img id="cookie" src="/static/cookie.png">

      <p class = "text"> Cookies:<span id = cookies></span></p>

      <p class = "text"> Cookies Per Second: <span id = cookiesPerSecond></span></p>

      <p class = "text" id = "bottomText"> Cookies Per Click: <span id = cookiesPerClick></span></p>

      </div>

<!-- ===================================================================================================-->

    <div class="col-sm" id = "c2">

    <img id="save" src="/static/save.png" alt="" width = "160" height = "90" align = "center">

    </div>

<!-- ===================================================================================================-->

    <div class="col-sm"  id = "c3">



      <img id="cursor" src="/static/cursor.png" alt="" width = "300" height = "90" align = "center">

      <br><br><br><br>

      <img id="grandma" src="/static/grandmas.png" alt="" width = "300" height = "90" align = "center">


    </div>
  </div>
</div>

<!-- ===================================================================================================-->







<!-- ===================================================================================================-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" charset="utf-8"></script>
  <script src="/static/game.js"></script>
<!-- ===================================================================================================-->




{% endblock %}
