{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}

  <p id = test>cookies lol</p>
  <p id = count></p>

<!-- =============================================================================================================================================================================-->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" charset="utf-8"></script>

  <script src="url_for('static', filename='game.js')"></script>




{% endblock %}
